* {
     margin: 0;
     box-sizing: border-box;
}

h1 {
    margin: .5rem 0
}

 body {
     font-family: 'Inter', sans-serif;
     background-color: #f0f0f0;
     min-height: 100vh;
     display: flex;
     align-items: center;
     justify-content: center;
}
 div {
     display: flex;
     flex-direction: column;
     justify-content: center;
     width: 50vw;
}
 header {
     font-size: 2rem;
     text-align: center;
}
 #balance {
     font-size: 1.5rem;
     text-align: center;
}
 #add-transaction, #transaction-list {
     display: flex;
     flex-direction: column;
     gap: 1.5rem;
     width: 100%;
     padding: 0.75rem;
     margin: 1rem 0;
     backdrop-filter: blur(25px) saturate(200%);
     -webkit-backdrop-filter: blur(25px) saturate(200%);
     background-color: rgba(255, 255, 255, 0.72);
     border-radius: 0.5rem;
     border: 0.125em solid rgba(71, 71, 71, 0.349);
}

#filter {
    font-size: 1rem;
    border: none;
    width: fit-content;
    border-bottom: 0.125em solid rgba(71, 71, 71, 0.349);
}

 h2, #type {
     margin-left: 0.25rem;
}
 #submit, #type {
     margin-top: 1rem;
}
 section, form {
     display: flex;
     flex-direction: column;
}
 form {
     gap: 0.5rem;
}
 section {
     gap: 1rem;
}
 ul {
     width: 100%;
     padding: 0;
     margin: 0;
     display: flex;
     flex-direction: column;
     gap: 0.5rem;
}
 li {
     white-space: nowrap;
     display: flex;
     align-items: center;
     justify-content: space-between;
     width: 100%;
     padding: 0.5em;
     list-style-type: none;
     font-size: 1em;
     width: 100%;
     border: 0.125em solid rgba(71, 71, 71, 0.349);
     background-color: rgba(255, 255, 255, 0.72);
     border-radius: 0.25em;
}
 li > i {
     display: flex;
     align-items: center;
     justify-content: center;
     margin-right: 0.5em;
}
 button {
     display: block;
     margin: 0;
     padding: 0.75em;
     font-weight: 600;
     font-size: 1rem;
     width: 100%;
     border: 0.125em solid rgba(71, 71, 71, 0.349);
     background-color: rgba(255, 255, 255, 0.72);
     border-radius: 0.25em;
}
 .transaction-info {
     flex: 1;
     display: flex;
     flex-direction: row;
     justify-content: space-between;
     align-items: center;
}
 fieldset#type {
  flex-wrap: wrap;
    margin: 0;
    font-size: 1rem;
    backdrop-filter: blur(25px) saturate(200%);
    -webkit-backdrop-filter: blur(25px) saturate(200%);
    background-color: rgba(255, 255, 255, 0.72);
    border-radius: 0.75em;
    border: 0.125em solid rgba(71, 71, 71, 0.349);
    display: flex;
    align-items: flex-start;
    gap: 0.5em;
    user-select: none;
}

fieldset#type legend {
    font-weight: 600;
    user-select: none;
}

fieldset#type label {
    display: flex;
    align-items: center;
    gap: 0.25em;
    font-weight: 500;
    cursor: pointer;
}

 .transaction-name-li {
     max-width: 70%;
     white-space: normal;
     word-break: break-word;
     overflow-wrap: anywhere;
}
 .transaction-amount-li {
     display: inline-block;
}
 i {
     vertical-align: middle;
     margin: 0;
     padding: 0;
}
 #transaction-name, #transaction-amount {
     font-size: 1rem;
     padding: 1em;
     backdrop-filter: blur(25px) saturate(200%);
     -webkit-backdrop-filter: blur(25px) saturate(200%);
     background-color: rgba(255, 255, 255, 0.72);
     border-radius: 0.75em;
     border: 0.125em solid rgba(71, 71, 71, 0.349);
}
 